<div class="container white-bg ct-pattern">

  <h2>Selecione a tabela a ser importada</h2>

  <%= form_tag({action: :upload}, multipart: true, class: 'form-inline' ) do %>
    <%= file_field_tag :file, :required => true  %>
    <%= submit_tag "Importar", class: "btn btn-primary" %>
  <% end %>

  <br>
  <p id="green-pattern"><strong>Receita total: <%= @sum_total %></strong></p>
  <br>

  <table class="table table-hover table-responsive-sm">
    <tr>
      <th>Comprador</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Quantidade</th>
      <th>Endereço do Vendedor/Estabelecimento</th>
      <th>Nome do Vendedor/Estabelecimento</th>
    </tr>
  <% @purchases.each do |p| %>
    <tr>
      <td><%= p.purchaser_name %></td>
      <td><%= p.item_description %></td>
      <td><%= p.item_price %></td>
      <td><%= p.purchase_count %></td>
      <td><%= p.merchant_address %></td>
      <td><%= p.merchant_name %></td>
    </tr>
  <% end %>
</div>
